bld_an/
bld_recoil/
bld_neut_eff/
bld_src/
bld_reac/
bld_Sc44/
*.root
neutronInput/pn_distributions/
neutronInput/*.txt
cadFiles/
*.stl
git_sync.sh
useful_codes/*.txt
useful_codes/TotalEfficiencyCalc.cpp

# OS/editor junk
.DS_Store
Thumbs.db
*.swp